@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-size: 14px;
  color: #000;
  user-select: none;
}

.table{
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.table__wrapper{
	display: flex;
}

.table__cell{
	transition: all 0.3s ease 0s;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background-color: rgb(68, 1, 86);
	border-radius: 5px;
}

.table__cell.active{
	background-color: yellow;
}

.table__cell_special{
	display: none;
	opacity: 0;
	visibility: hidden;
}

.table__cell:hover{
	background-color: rgb(174, 6, 220);
}

.table__value{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}


.info__row{
	display: flex;
	align-items: center;
	margin: 20px 0px;
}

.info__text{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.info__value{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 0px 0px 10px;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	background-color: rgb(26, 0, 70);
}

.info__value_1{
	margin: 0px 0px 0px 33px;
}


